
<div class="row">
	<%= link_to "<< Back", user_answers_admin_index_path, style: "padding-bottom: 20px;" %>
</div>

<div id="user_info">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= label_tag :first_name %>
			<%= text_field_tag :first_name, @user.first_name, size: 5, class: "form-control", disabled: true %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= label_tag :last_name %>
			<%= text_field_tag :last_name, @user.last_name, size: 5, class: "form-control", disabled: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">	
			<%= label_tag :email %>
			<%= text_field_tag :email, @user.email, size: 5, class: "form-control", disabled: true %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= label_tag :completed_date %>
			<%= text_field_tag :first_name, @user.completed_date.strftime("%m/%d/%Y"), size: 5, class: "form-control", disabled: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">	
			<%= label_tag :test_number %>
			<%= text_field_tag :test_num, @user.test_num, size: 5, class: "form-control", disabled: true %>
		</div>
	</div>
</div>

<% if @user.test_num == "1" %>
	<%= render 'test_one' %>
<% else %>
	<%= render 'test_two' %>
<% end %>
