<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Endura Skills Test" : @title %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" >
                  
                  <span><%= image_tag("endura-check.svg", height:"20", data: {title: "Endura"}) %></span>
                  <span>Endura</span>
                </a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">      
                    <% if login_signed_in?  && current_login.admin %>
                      <!-- <li>Logged in as <strong><%= current_login.email %></strong></li> -->
                      <li><%#= link_to "Sign Up", new_login_registration_path, method: :get, :class => 'navbar-link' %></li>
                      <li><%= link_to "Answers", answers_answers_path, method: :get, :class => 'navbar-link' %>
                      <li><%= link_to "Logout", destroy_login_session_path, method: :delete, :class => 'navbar-link'  %></li>
                    <% else %>
                      <% unless current_page?('/logins/sign_in') %>
                        <li id="timer" style="margin-top:15px;color:white;display:none">60.00</li>
                      <% end %>
                    <% end %>
                  </ul>
              </div>
          </div>
      </div>

    	<%= yield %>
  	</div>
  </body>
</html>
