<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Endura Skills Test" : @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <p class="navbar-text pull-right">
        <% if login_signed_in? %>
          Logged in as <strong><%= current_login.email %></strong>
          <%#= link_to 'Edit profile', edit_login_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_login_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <% end %>
      </p>
    	<%= yield %>
  	</div>
  </body>
</html>
